
html, body {
	background-color: #fff;
	color: #99a2b6;
}
h1, h2, h3, h4, h5, h6 {
	color: #454f66;
}
section table {
	background-color: #FFF;
}
::-moz-selection {
background:#4f87fb;
color:#fff;
}
::selection {
	background: #4f87fb;
	color: #fff;
}
a.brand {
	background-image: url(assets/images/image_1.png);
}
a, a:hover, a:active {
	color: #fff;
}
hr {
	border-top: 1px solid #272727;
	border-bottom: 1px solid #272727;
}
.navbar-inner {
    border: none;   
}
div.navbar-inner, .navbar .nav li ul {
	background: #fff;
	color: #99a2b6;
    padding: 10px 0;
}
a.btn-navbar {
	background: #DDDDDD;
	color: #222222;
}
.navbar .nav li a {
	color: #222222;
	text-shadow: 1px 1px 0px #EEEEEE;
}
.navbar .nav li a:hover, .navbar .nav li.active a {
	text-shadow: none;
}
div.navbar-inner ul {
}
.navbar .nav > li a {
	color: #99a2b6;
    text-shadow: none;
}
.navbar .nav > li a:hover, a.btn-navbar:hover {
	background: #4f87fb;
	color: #fff;
    transition: all 0.5s ease-in-out;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover, a.btn-navbar:active {
	background-color: #4f87fb;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.navbar .nav li ul li a:hover {
	background: #444444;
	color: #DDDDDD;
}
.navbar .nav li ul li a:active {
	background: #444444;
	color: #DDDDDD;
}
.btn-primary {
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC);
	background-image: -ms-linear-gradient(top, #0088CC, #0044CC);
 background-image: -webkit-gradient(linear, 0 0, 0 0088CC%, from(#DDDDDD), to(#0044CC));
	background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
	background-image: -o-linear-gradient(top, #0088CC, #0044CC);
	background-image: linear-gradient(top, #0088CC, #0044CC);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0);
	border-color: #0044CC #0044CC #bfbfbf;
	color: #FFFFFF;
}
.btn-primary:hover,  .btn-primary:active,  .btn-primary.active,  .btn-primary.disabled,  .btn-primary[disabled] {
	background-color: #0044CC;
}
.masthead img {
    display: block;
    margin: 0 auto;
}
.masthead h1 {
    margin-top: 40px;
}
p {
    color: #8e8d8d;
}
ul ul, ul ol, ol ol, ol ul {
    color: #99a2b6;
}
.hero-unit {
    color: #fff;
    background-color: #4f87fb;
}
#documenter_copyright {
	display: block !important;
	visibility: visible !important;
}
#fonts img {
    border: 1px solid #eee;
    margin: 10px 0;
    max-width: 100%;
    padding: 10px;
}
#theme_options2 img {
  border: 1px solid #eee;
  margin: 10px 0;
  max-width: 100%;
  padding: 10px;
}
pre {
    border-radius: 0;
}
footer a {
    color: #4f87fb;
}
footer a:hover {
    color: #2659c3;
}